<h2>{{message}}</h2>

<!-- <h4>Interpolation Binding</h4>
<p>Customer Code: {{custObj.CustomerCode}}</p>
<p>Customer Name: {{custObj.CustomerName}}</p>
<p>Customer Amount: {{custObj.CustomerAmount}}</p> -->

<h4>Interpolation Binding</h4>
<p>Customer Code: {{customerObj.CustomerCode}}</p>
<p>Customer Name: {{customerObj.CustomerName}}</p>
<p>Customer Amount: {{customerObj.CustomerAmount}}</p>

<!-- <h3>One Way Data Binding (Controller/Model to View) - Property Binding</h3>
<p>Customer Code: <input type="text" name="CustomerCode" [value]="customerObj.CustomerCode" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [value]="customerObj.CustomerName" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [value]="customerObj.CustomerAmount" /></p> -->

<!-- <h3>One Way Data Binding (View to Controller/Model) - Event Binding</h3>
<p>Customer Code: <input type="text" name="CustomerCode"
        (input)="customerObj.CustomerCode=($any($event.target).value)" /></p>
<p>Customer Name: <input type="text" name="CustomerName"
        (input)="customerObj.CustomerName=($any($event.target).value)" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount"
        (input)="customerObj.CustomerAmount=($any($event.target).value)" /></p> -->

<!-- <h3>Two Way Data Binding (Controller/Model to View to Controller/Model) without using ngModel</h3>
<p>Customer Code: <input type="text" name="CustomerCode" [value]="customerObj.CustomerCode"
        (input)="customerObj.CustomerCode=($any($event.target).value)" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [value]="customerObj.CustomerName"
        (input)="customerObj.CustomerName=($any($event.target).value)" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [value]="customerObj.CustomerAmount"
        (input)="customerObj.CustomerAmount=($any($event.target).value)" /></p> -->

<!-- <h3>Two Way Data Binding (Controller/Model to View to Controller/Model) using ngModel</h3>
<p>Customer Code: <input type="number" name="CustomerCode" [(ngModel)]="customerObj.CustomerCode" /></p>
<p>Customer Name: <input type="text" name="CustomerName" [(ngModel)]="customerObj.CustomerName" /></p>
<p>Customer Amount: <input type="text" name="CustomerAmount" [(ngModel)]="customerObj.CustomerAmount" /></p> -->

<h4>Login Form</h4>
<p><input type="text" name="username" [(ngModel)]="userObj.username" placeholder="Username Here" /></p>
<p><input type="password" name="password" [(ngModel)]="userObj.password" placeholder="Password Here" /></p>
<input type="button" value="Login" (click)="login()">