<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a routerLink="products" class="nav-link px-2 text-secondary">Products</a></li>
      </ul>

      <div class="text-end">
        <a *ngIf="!isLoggedIn" routerLink="login" class="btn btn-outline-light me-2">Login</a>
        <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-warning">Logout</button>
      </div>
    </div>
  </div>
</header>

<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <router-outlet></router-outlet>
  </div>
</div>